@tailwind base;
@tailwind components;
@tailwind utilities;

.tb-r {
  border: 1px solid red;
}

.tb-b {
  border: 1px solid blue;
}

.tb-g {
  border: 1px solid green;
}

.robocat_gradient {
  // background: linear-gradient(to right, #fcfc21, #ff4545);
  background: linear-gradient(to right, #1264b5, #ba0aeb);
}

html {
  overflow-x: hidden;
}

@layer base {
  html {
    font-family: RobotoMono;
    color: #fff;
    background-color: #0a0a0b;
    letter-spacing: -0.05em;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
  }
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/** Sigma Alert */
@keyframes anvil {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  1% {
    transform: scale(0.96) translateY(10px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}
.popup-content {
  -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}

.popup-content {
  background: #1a1a2a;
  max-width: 95%;
  width: 540px;
  padding: 23px 40px 42px 40px;
  border-radius: 8px;
  // border: 1px solid red;
}
@media screen and (max-width: 600px) {
  .popup-content {
    padding: 23px 20px 21px 20px;
  }
}
