/** Fonts */

// Inter
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter/Inter-Thin.ttf");
  font-style: normal;
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter/Inter-ExtraLight.ttf");
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter/Inter-Light.ttf");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter/Inter-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter/Inter-Medium.ttf");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter/Inter-SemiBold.ttf");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter/Inter-Bold.ttf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter/Inter-ExtraBold.ttf");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter/Inter-Black.ttf");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

// Roboto

@font-face {
  font-family: "RobotoMono";
  src: url("../assets/fonts/RobotoMono/RobotoMono-Thin.ttf");
  font-style: normal;
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "RobotoMono";
  src: url("../assets/fonts/RobotoMono/RobotoMono-ExtraLight.ttf");
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "RobotoMono";
  src: url("../assets/fonts/RobotoMono/RobotoMono-Light.ttf");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "RobotoMono";
  src: url("../assets/fonts/RobotoMono/RobotoMono-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "RobotoMono";
  src: url("../assets/fonts/RobotoMono/RobotoMono-Medium.ttf");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "RobotoMono";
  src: url("../assets/fonts/RobotoMono/RobotoMono-SemiBold.ttf");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "RobotoMono";
  src: url("../assets/fonts/RobotoMono/RobotoMono-Bold.ttf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
